[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drox/Desktop/test_nodebug]
row=0
col=3

[/home/drox/Desktop/test_debug]
row=0
col=2

[/home/drox/Desktop/devel]
row=0
col=1

[2C6366EF1BAC5969]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/drox]
row=3
col=0

